---
layout: default
title: Publications
---

<h2>Publications</h2>

{% assign sorted = site.data.citations | sort: "Year" | reverse %}
{% assign years = sorted | map: "Year" | uniq %}

{% for year in years %}
  <h3>{{ year }}</h3>
  <ul class="pub-list">

    {% assign pubs_this_year = sorted | where: "Year", year %}
    {% for pub in pubs_this_year %}
      <li class="pub-item">

	{% assign author_list = pub.Authors | split: "; " %}
	{% assign clean_authors = "" %}
	{% for author in author_list %}
	  {% assign trimmed = author | remove: ";" | strip %}
	  {% if trimmed != "" %}
    {% if forloop.first %}
      {% assign clean_authors = trimmed %}
    {% else %}
      {% assign clean_authors = clean_authors | append: "; " | append: trimmed %}
    {% endif %}
  {% endif %}
{% endfor %}
{% assign highlighted_authors = clean_authors | replace: "Weed, Ethan", "<strong>Weed, Ethan</strong>" %}
{{ highlighted_authors }}



        ({{ pub.Year }}).

        {{ pub.Title }}.

        {% if pub.Publication != "" %}
          <em>{{ pub.Publication }}</em>
        {% endif %}

        {% if pub.Volume != "" and pub.Volume != nil %}
          , <em>{{ pub.Volume }}</em>
          {% if pub.Number != "" and pub.Number != nil %}({{ pub.Number }}){% endif %}
          {% if pub.Pages != "" and pub.Pages != nil %}, {{ pub.Pages }}{% endif %}.
        {% elsif pub.Pages != "" and pub.Pages != nil %}
          , {{ pub.Pages }}.
        {% else %}
          .
        {% endif %}

      </li>
    {% endfor %}

  </ul>
{% endfor %}

