<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} — Ethan Weed</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="me" href="https://fediscience.org/@ethanweed" />
  <link rel="me" href="https://lingo.lol/@ethanweed" />
</head>

</head>
<body>

  <header>
    <h1><a href="/">Ethan Weed</a></h1>
    <nav>
      <a href="/" class="active">Home</a>
     <!--  <a href="/research">Research</a> -->
     <!--  <a href="/teaching">Teaching</a> -->
      <a href="/publications">Publications</a> 
     <!--  <a href="/cv">CV</a> -->
      <a href="/videos">Videos</a>
      <a href="https://ethanweed.github.io/pythonbook/landingpage.html" target="_blank rel="noopener">Learning Statistics with Python</a>
    </nav>
  </header>

  <main class="container">
    {{ content }}
  </main>

  <footer>
    <p>Ethan Weed · Aarhus University · Last updated March 2026</p>
  </footer>

  <script src="/assets/js/carousel.js"></script>

</body>
</html>
